@await RenderSectionAsync("Scripts", required: false)
<!DOCTYPE html>
<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <style>
        button, input[type="button"], input[type="submit"] {
            padding: 0;
            margin: 0;
            border: none;
            background-color: transparent;
            color: inherit;
            cursor: pointer;
            outline: none;
            text-decoration: none;
            font: inherit;
        }

        input {
            border: 1px solid #999999;
        }

        body {
            height: 120vh;
            min-height: 120vh;
            font-family: 'Arial', sans-serif;
            background-color: #f2f2f7;
            display: grid;
            grid-template-rows: auto 1fr auto;
        }

        .nav-bar {
            background: linear-gradient(to right,#ff1d25 5%,#a0328c 35%,#7040a4 45%,#4359c7 55%,#0082e6 70%);
            height: 70px;
            color: #ffffff;
            display: flex;
            justify-content: flex-start;
        }

        .homepage-button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 40px;
            padding: 10px;
            color: #ffffff;
            text-decoration: none;
        }

            .homepage-button:hover {
                color: #808080;
            }

        .nav-bar-buttons {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .option-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-left: 1px solid black;
            font-size: 20px;
            color: #ffffff;
            width: 150px;
            text-decoration: none;
            height: 100%;
        }

        .border-bottom {
            background-color: #ffffff;
            height: 2px;
            width: 0%;
            transition: width 1s;
        }

        .option-button:hover .border-bottom {
            background-color: #ffffff;
            width: 100%;
        }

        .icon-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 1px solid black;
            padding: 10px;
            font-size: 25px;
            color: #ffffff;
            width: 75px;
            text-decoration: none;
        }

            .icon-button:hover {
                color: #808080;
            }

        .text-bubble {
            background-color: #ffffff;
            border: 2px solid #0082e6;
            border-radius: 10px;
            width: 300px;
            height: 50px;
            padding: 20px;
            position: fixed;
            top: 80px;
            right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: bold;
            transition: opacity 0.5s ease;
            z-index: 100;
        }

        .cart-items-count {
            border-radius: 50%;
            font-size: 18px;
            background: linear-gradient(to right,#cf3f50,#fe2d34);
            color: #ffffff;
            margin-left: -10px;
            margin-bottom: 20px;
            height: 25px;
            width: 25px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .footer-bar {
            background: #aedbf7;
            min-height: 100px;
            margin-top: 200px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;
        }

        .github-ref-container {
            display: flex;
            flex-direction: row;
            margin-left: 20px;
        }

        .github-ref {
            text-decoration: underline;
            margin: 2px;
            color: #0000FF;
        }

        .github-made-by {
            color: #000000;
            margin: 2px;
        }

        .github-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
        }

        .important-message {
            color: #000000;
            margin-right: 20px;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var textBubble = document.querySelector('.text-bubble');
            setTimeout(function () {
                textBubble.style.opacity = '0';
            }, 5000);
        });
    </script>
</head>
<body>
    @if (TempData["Message"] != null)
    {
        <div class="text-bubble">@TempData["Message"]</div>
    }
    <header>
        <nav class="nav-bar">
            <a class="homepage-button" asp-action="Homepage" asp-controller="Tech">TechStore</a>
            <section class="nav-bar-buttons">
                @foreach (var category in ViewBag.CategoryList)
                {
                    <form method="get" asp-action="Category" asp-route-categoryName="@category.CategoryName" asp-controller="Tech">
                        <button type="submit" class="option-button">
                            <p>@category.CategoryName</p>
                            <div class="border-bottom"></div>
                        </button>
                    </form>
                }
                @if (User.IsInRole("Admin"))
                {
                    <a class="icon-button" asp-action="AdministrationPanel" asp-controller="Tech">
                        <i class="fa-solid fa-gear"></i>
                    </a>
                    <a class="icon-button" asp-action="Profile" asp-controller="Tech">
                        <i class="fa-solid fa-user"></i>
                    </a>
                }
                else
                {
                    <a class="icon-button" asp-action="Cart" asp-controller="Tech">
                        <i class="fa-solid fa-cart-shopping"></i>
                        @if (@ViewBag.CartItemsCount != 0)
                        {
                            <span class="cart-items-count">@ViewBag.CartItemsCount</span>
                        }
                    </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="icon-button" asp-action="Profile" asp-controller="Tech">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    }
                    else
                    {
                        <a class="icon-button" asp-action="Login" asp-controller="Account">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    }
                }
            </section>
        </nav>
    </header>
    @RenderBody()
    <footer class="footer-bar">
        <article class="github-ref-container">
            <p class="github-made-by">Made by: </p>
            <p class="github-logo">
                <i class="fa-brands fa-github"></i>
            </p>
            <a class="github-ref" href="https://github.com/MartinKulev">Martin Kulev</a>
        </article>
        <article class="important-message">
            <p>This website is a simulation of a web store.</p>
            <p>No products will be delivered.</p>
            <p>Do not enter real information in the payment page!</p>
        </article>
    </footer>
</body>
</html>