@model LoginViewModel
<!DOCTYPE html>
<html>
<head>
    <title>TechStore</title>
    <style>
        .validation-summary-errors {
            color: #ff0000;
            border: 1px solid #ff0000;
            padding: 10px;
            margin-bottom: 20px;
        }

        .main-container {
            display: flex;
            justify-content: center;
        }

        .sub-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20%;
        }

        .info-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
        }

        .info-text-container {
            display: flex;
            justify-content: center;
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 5px;
        }

        .input-box {
            height: 30px;
            width: 250px;
            border-radius: 5px;
        }

        .login-button-container {
            margin: 20px;
            display: flex;
            justify-content: center;
        }

        .login-button { 
            background-color: #0082e6;
            border-radius: 5px;
            height: 50px;
            width: 150px;
            color: #ffffff;
        }

        .errors-container {
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
        }

        .register-hyperlink {
            text-decoration: underline;
            color: #0000ff;
        }

        .text-bubble-red {
            background-color: #ffffff;
            border: 2px solid #ff0000;
            border-radius: 10px;
            width: 300px;
            height: 50px;
            padding: 20px;
            position: absolute;
            top: 80px;
            right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: bold;
            transition: opacity 0.5s ease;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var textBubble = document.querySelector('.text-bubble-red');
            setTimeout(function () {
                textBubble.style.opacity = '0';
            }, 5000);
        });
    </script>
</head>
<body>
    @if (TempData["You need to log in to continue!"] != null)
    {
        <div class="text-bubble-red">@TempData["You need to log in to continue!"]</div>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "validation-summary-errors" })

        <main class="main-container">
            <section class="sub-container">
                <div class="info-container">
                    <p class="info-text-container">@Html.LabelFor(m => m.Email, "Email:")</p>
                    @Html.TextBoxFor(m => m.Email, new { @class = "input-box", name = "email" })
                </div>
                <div class="info-container">
                    <p class="info-text-container">@Html.LabelFor(m => m.Password, "Password:")</p>
                    @Html.PasswordFor(m => m.Password, new { @class = "input-box", name = "password" })
                </div>
                <p class="errors-container">@Html.ValidationMessageFor(m => m.Email)</p>
                <p class="errors-container">@Html.ValidationMessageFor(m => m.Password)</p>
                <div class="login-button-container">
                    <button type="submit" value="Login" class="login-button"><div>Login</div></button>
                </div>
                <a asp-action="Register" asp-controller="Account" class="register-hyperlink">No account? Register.</a>              
            </section>
        </main>
    }
</body>
</html>