@model RegisterViewModel
<!DOCTYPE html>
<html>
<head>
    <title>TechStore</title>
    <style>
        .validation-summary-errors {
            color: #ff0000;
            border: 1px solid #ff0000;
            padding: 10px;
            margin-bottom: 20px;
        }

        .main-container {
            display: flex;
            justify-content: center;
        }

        .sub-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20%;
        }

        .info-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
        }

        .info-text-container {
            display: flex;
            justify-content: center;
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 5px;
        }

        .input-box {
            height: 30px;
            width: 250px;
            border: 1px solid #999999;
            border-radius: 5px;
        }

        .register-button-container {
            margin: 20px;
            display: flex;
            justify-content: center;
        }

        .register-button {
            background-color: #0082e6;
            border-radius: 5px;
            height: 50px;
            width: 150px;
            color: #ffffff;
        }

        .errors-container {
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
        }

        .login-hyperlink {
            text-decoration: underline;
            color: #0000ff;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "validation-summary-errors" })

        <main class="main-container">
            <section class="sub-container">
                <div class="info-container">
                    <p class="info-text-container">@Html.LabelFor(m => m.FirstName, "First Name:")</p>
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "input-box", name = "firstName" })
                </div>
                <div class="info-container">
                    <p class="info-text-container">@Html.LabelFor(m => m.LastName, "Last Name:")</p>
                    @Html.TextBoxFor(m => m.LastName, new { @class = "input-box", name = "lastName" })
                </div>
                <div class="info-container">
                    <p class="info-text-container">@Html.LabelFor(m => m.Email, "Email:")</p>
                    @Html.TextBoxFor(m => m.Email, new { @class = "input-box", name = "email" })
                </div>
                <div class="info-container">
                    <p class="info-text-container">@Html.LabelFor(m => m.PhoneNumber, "Phone Number:")</p>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "input-box", name = "phoneNumber" })
                </div>
                <div class="info-container">
                    <p class="info-text-container">@Html.LabelFor(m => m.Password, "Password:")</p>
                    @Html.PasswordFor(m => m.Password, new { @class = "input-box", name = "password" })
                </div>
                <div class="info-container">
                    <p class="info-text-container">@Html.LabelFor(m => m.ConfirmPassword, "Confirm Password:")</p>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-box", name = "confirmPassword" })
                </div>
                <p class="errors-container">@Html.ValidationMessageFor(m => m.FirstName)</p>
                <p class="errors-container">@Html.ValidationMessageFor(m => m.LastName)</p>
                <p class="errors-container">@Html.ValidationMessageFor(m => m.Email)</p>
                <p class="errors-container">@Html.ValidationMessageFor(m => m.PhoneNumber)</p>
                <p class="errors-container">@Html.ValidationMessageFor(m => m.Password)</p>
                <p class="errors-container">@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>
                <div class="register-button-container">
                    <button type="submit" value="Register" class="register-button">Register</button>
                </div>
                <a asp-action="Login" asp-controller="Account" class="login-hyperlink">Already have an account? Login.</a>
            </section>
        </main>
    }
</body>
</html>