<!DOCTYPE html>
<html>
<head>
    <title>AdministrationPanel</title>
    <style>
        .main-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1 1 auto;
            padding: 0 200px;
        }

        .product-box-container {
            width: 100%;
            margin-bottom: 50px;
        }

        .product-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            padding: 50px;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            border-radius: 15px;
        }

        .product-heading {
            font-size: 50px;
            color: #000000;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .product-information {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        .product-image-container {
            width: 50%;
            height: 80%;
            margin-right: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .product-image-sub-container {
            font-size: 200%;
            margin-bottom: 20px;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .product-image-label {
            font-weight: bold;
        }

        .product-image-input-box {
            font-size: 50%;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            height: 32px;
            width: 400px;
        }

        .upload-image-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            background-color: #d3d3d3;
            border-radius: 50%;
            color: #ffffff;
            font-size: 240px;
            text-align: center;
            cursor: pointer;
        }

        #myFile {
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            z-index: 1;
        }

        #uploadedImage {
            max-width: 80%;
            max-height: 80%;
        }

        .product-text-data {
            padding: 20px;
            width: 50%;
            background-color: #eff9fe;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
        }

        .select-category {
            font-size: 20px;
            height: 40px;
            color: #333333;
            font-family: Verdana,Helvetica,Sans-Serif;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .description-label {
            font-size: 30px;
            font-weight: bold;
            display: flex;
            flex-direction: row;
        }

        .description-box {
            font-size: 20px;
            height: 100px;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
        }

        .brand-mode-price-container {
            margin-bottom: 20px;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .brand-mode-price-label {
            font-size: 30px;
            font-weight: bold;
        }

        .brand-model-price-input-box {
            font-size: 20px;
            height: 30px;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            width: 80%;
        }

        .create-product-button-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
        }

        .create-product-button {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            width: 500px;
            height: 100px;
            background-color: #0082e6;
            border-radius: 15px;
            cursor: pointer;
        }

        .create-product-button-text {
            margin: 0 auto;
            color: #ffffff;
            font-weight: bold;
            font-size: 200%;
        }

        .entity-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 50px;
        }

        .entity {
            padding: 50px;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            border-radius: 15px;
            margin-bottom: 100px;
            height: fit-content;
            width: 40%;
        }

        .entity-heading-container {
            display: flex;
            justify-content: center;
        }

        .entity-heading {
            font-size: 30px;
            color: #000000;
            font-weight: bold;
        }

        .create-entity-form {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        .input-box {
            border: 1px solid #999999;
            border-radius: 5px;
            width: 200px;
            height: 25px;
        }

        .mini-input-box {
            height: 25px;
            width: 50px;
            border: 1px solid #999999;
            font-size: 12px;
            border-radius: 5px;
        }

        .create-entity-button {
            background-color: #0082e6;
            border-radius: 5px;
            height: 30px;
            width: 100px;
            color: #ffffff;
        }

        .entity-table {
            width: 100%;
        }

            .entity-table th, .entity-table td {
                padding: 8px;
                text-align: center;
                font-weight: bold;
                border: 1px solid #dddddd;
            }

            .entity-table th {
                color: #0082e6;
                font-size: 150%;
            }

        .remove-button-container {
            cursor: pointer;
            background: linear-gradient(to right,#cf3f50,#fe2d34);
            width: 32px;
            padding: 0px !important;
            height: 32px;
        }

        .remove-button-form {
            height: 100%;
        }

        .remove-button {
            height: 100%;
            width: 100%;
        }

        .remove-icon {
            color: #ffffff;
        }

        .create-entity-button-container {
            margin: 20px;
            display: flex;
            justify-content: center;
        }

        .entity-info-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            width: 100%;
            margin-bottom: 10px;
        }

        .entity-info-sub-container {
            display: flex;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .info-label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 5px;
        }

        .category-info-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            width: 100%;
        }

        .user-entity {
            padding: 50px;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            border-radius: 15px;
            height: fit-content;
            width: 100%;
        }

        .user-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 50px;
        }

        .entity-button {
            width: 100%;
        }

        .entity-text-box {
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }

        .entity-data {
            font-size: 18px;
        }

        .edit-button-container {
            cursor: pointer;
            background: linear-gradient(to right,#4a60c1 10%,#3985e0);
            width: 32px;
            padding: 0px !important;
            height: 32px;
        }

        .edit-button {
            height: 100%;
            width: 100%;
        }

        .edit-icon {
            color: #ffffff;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function displayImage(input) {
            var file = input.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var imageContainer = document.getElementById('imageContainer');
                    var img = document.createElement('img');
                    img.src = e.target.result;
                    img.id = 'uploadedImage';
                    imageContainer.innerHTML = '';
                    imageContainer.appendChild(img);
                    var uploadButton = document.querySelector('.upload-image-button');
                    uploadButton.style.display = 'none';
                }
                reader.readAsDataURL(file);
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            var textBoxes = document.querySelectorAll(".entity-text-box");
            textBoxes.forEach(function (textBox) {
                textBox.addEventListener("click", function (event) {
                    event.stopPropagation();
                });
            });

            var entityButtons = document.querySelectorAll(".entity-button");
            entityButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    var textBox = this.querySelector(".entity-text-box");
                    var entityLabel = this.querySelector(".entity-data");

                    entityLabel.style.display = "none";
                    textBox.style.display = "inline-block";
                    textBox.focus();
                });
            });
        });
    </script>
</head>
<body>
    <main class="main-container">
        <section class="product-box-container">
            <div class="product-box">
                <h2 class="product-heading">Create product:</h2>
                <form method="post" class="product-information" asp-controller="Product" asp-action="CreatedProduct">
                    <div class="product-image-container">
                        @* <div class="upload-image-button" action="/action_page.php">
                        <input type="file" id="myFile" name="imageURL" onchange="displayImage(this)" required>
                        </div>
                        <div id="imageContainer">
                        </div> *@
                        <div class="product-image-sub-container">
                            <label class="product-image-label">Photo:</label>
                            <input class="product-image-input-box" name="imageURL" required></input>
                        </div>
                    </div>
                    <div class="product-text-data">
                        <select class="select-category" name="categoryName" onchange="javascript:changemm(document.search.topmenu,document.search.f5,document.search.f6,'2','1','Избери',27)" required>
                            <option selected="" value="">Choose category</option>
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.CategoryName">@category.CategoryName</option>
                            }
                        </select>
                        <label class="description-label">Description:</label>
                        <textarea class="description-box" name="description" required maxlength="200"></textarea>
                        <div class="brand-mode-price-container">
                            <label class="brand-mode-price-label">Brand:</label>
                            <input class="brand-model-price-input-box" name="brand" maxlength="28" required></input>
                        </div>
                        <div class="brand-mode-price-container">
                            <label class="brand-mode-price-label">Model:</label>
                            <input class="brand-model-price-input-box" name="model" maxlength="28" required></input>
                        </div>
                        <div class="brand-mode-price-container">
                            <label class="brand-mode-price-label">Price:</label>
                            <input class="brand-model-price-input-box" name="price" maxlength="28" type="number" step=".01" required></input>
                        </div>
                        <div class="create-product-button-container">
                            <button class="create-product-button" type="submit">
                                <p class="create-product-button-text">Create Product</p>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section class="user-container">
            <section class="user-entity">
                <div class="entity-heading-container">
                    <h2 class="entity-heading">Manage users:</h2>
                </div>
                <form class="create-entity-form" method="post" asp-action="CreatedUser" asp-controller="User">
                    <div class="entity-info-container">
                        <div class="entity-info-sub-container">
                            <label class="info-label">
                                <p>First name:</p>
                            </label>
                            <input class="input-box" name="firstName" />
                        </div>
                        <div class="entity-info-sub-container">
                            <label class="info-label">
                                <p>Last name:</p>
                            </label>
                            <input class="input-box" name="lastName" />
                        </div>
                        <div class="entity-info-sub-container">
                            <label class="info-label">
                                <p>Email:</p>
                            </label>
                            <input class="input-box" name="email" />
                        </div>
                        <div class="entity-info-sub-container">
                            <label class="info-label">
                                <p>Phone number:</p>
                            </label>
                            <input class="input-box" name="phoneNumber" />
                        </div>
                        <div class="entity-info-sub-container">
                            <label class="info-label">
                                <p>Pasword:</p>
                            </label>
                            <input class="input-box" name="password" />
                        </div>
                        <div class="entity-info-sub-container">
                            <label class="info-label">
                                <p>Confirm Password:</p>
                            </label>
                            <input class="input-box" name="confirmPassword" />
                        </div>
                    </div>
                    <div>
                        <div class="create-entity-button-container">
                            <button class="create-entity-button">Create</button>
                        </div>
                    </div>
                </form>
                <table class="entity-table">
                    <tbody>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Phone number</th>
                        @foreach (var user in Model.Users)
                        {
                        <tr>
                            <form method="post" asp-action="EditedUser" asp-controller="User">
                            <td>@user.Id</td>
                            <td>
                                <button type="button" class="entity-button">
                                    <p class="entity-data">@user.UserName</p>
                                    <input class="entity-text-box" type="text" name="newUserName" style="display: none;" />
                                </button>
                            </td>
                            <td>
                                <button type="button" class="entity-button">
                                    <p class="entity-data">@user.FirstName</p>
                                    <input class="entity-text-box" type="text" name="newFirstName" style="display: none;" />
                                </button>
                            </td>
                            <td>
                                <button type="button" class="entity-button">
                                    <p class="entity-data">@user.LastName</p>
                                    <input class="entity-text-box" type="text" name="newLastName" style="display: none;" />
                                </button>
                            </td>
                            <td>
                                <button type="button" class="entity-button">
                                    <p class="entity-data">@user.Email</p>
                                    <input class="entity-text-box" type="text" name="newEmail" style="display: none;" />
                                </button>
                            </td>
                            <td>
                                <button type="button" class="entity-button">
                                    <p class="entity-data">@user.PhoneNumber</p>
                                    <input class="entity-text-box" type="text" name="newPhoneNumber" style="display: none;" />
                                </button>
                            </td>
                            <td class="edit-button-container">
                                <button class="edit-button">
                                    <i class="edit-icon fa-solid fa-pen-to-square"></i>
                                </button>
                            </td>
                            <input hidden name="userID" value="@user.Id" />
                            </form>
                            <td class="remove-button-container">
                                <form class="remove-button-form" method="post" asp-action="DeletedUser" asp-controller="User">
                                    <button class="remove-button" name="userID" value="@user.Id">
                                        <i class="remove-icon fa-solid fa-trash-can"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </section>
        </section>
        <section class="entity-container">
            <section class="entity">
                <div class="entity-heading-container">
                    <h2 class="entity-heading">Manage promocodes:</h2>
                </div>
                <form class="create-entity-form" method="post" asp-action="CreatedPromocode" asp-controller="Promocode">
                    <div class="entity-info-container">
                        <div class="entity-info-sub-container">
                            <label class="info-label">
                                <p>Promocode:</p>
                            </label>
                            <input class="input-box" name="promocodeName" />
                        </div>
                        <div class="entity-info-sub-container">
                            <label class="info-label">
                                <p>Promocode discount:</p>
                            </label>
                            <input class="mini-input-box" name="discount" />
                        </div>
                    </div>
                    <div class="create-entity-button-container">
                        <button class="create-entity-button">Create</button>
                    </div>
                </form>
                <table class="entity-table">
                    <tbody>
                        <tr>
                            <th>Promocode</th>
                            <th>Promocode discount</th>
                            @foreach (var promocode in Model.Promocodes)
                            {
                            <tr>
                                <form method="post" asp-action="EditedPromocode" asp-controller="Promocode">
                                <td>
                                    <button type="button" class="entity-button">
                                        <p class="entity-data">@promocode.PromocodeName</p>
                                        <input class="entity-text-box" type="text" name="newPromocodeName" style="display: none;" />
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="entity-button">
                                        <p class="entity-data">@promocode.Discount %</p>
                                        <input class="entity-text-box" type="text" name="newPromocodeDiscount" style="display: none;" />
                                    </button>
                                </td>
                                <td class="edit-button-container">
                                    <button class="edit-button">
                                        <i class="edit-icon fa-solid fa-pen-to-square"></i>
                                    </button>
                                </td>
                                <input hidden name="promocodeID" value="@promocode.PromocodeID" />
                                </form>
                                <td class="remove-button-container">
                                    <form class="remove-button-form" method="post" asp-action="DeletedPromocode" asp-controller="Promocode">
                                        <button class="remove-button" name="promocodeName" value="@promocode.PromocodeName">
                                            <i class="remove-icon fa-solid fa-trash-can"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            }
                    </tbody>
                </table>
            </section>
            <section class="entity">
                <div class="entity-heading-container">
                    <h2 class="entity-heading">Manage categories:</h2>
                </div>
                <form class="create-entity-form" method="post" asp-action="CreatedCategory" asp-controller="Category">
                    <div class="category-info-container">
                        <div class="entity-info-sub-container">
                            <label class="info-label">
                                <p>Category name: </p>
                            </label>
                            <input class="input-box" name="categoryName" />
                        </div>
                    </div>
                    <div class="create-entity-button-container">
                        <button class="create-entity-button">Create</button>
                    </div>
                </form>
                <table class="entity-table">
                    <tbody>
                        <tr>
                            <th>Category name</th>
                            @foreach (var category in Model.Categories)
                            {
                            <tr>
                                <form method="post" asp-action="EditedCategory" asp-controller="Category">
                                <td>
                                    <button type="button" class="entity-button">
                                        <p class="entity-data">@category.CategoryName</p>
                                        <input class="entity-text-box" type="text" name="newCategoryName" style="display: none;" />
                                    </button>
                                </td>
                                <td class="edit-button-container">
                                    <button class="edit-button">
                                        <i class="edit-icon fa-solid fa-pen-to-square"></i>
                                    </button>
                                </td>
                                <input hidden name="categoryID" value="@category.CategoryID" />
                                </form>
                                <td class="remove-button-container">
                                    <form class="remove-button-form" method="post" asp-action="DeletedCategory" asp-controller="Category">
                                        <button class="remove-button" name="categoryName" value="@category.CategoryName">
                                            <i class="remove-icon fa-solid fa-trash-can"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            }
                    </tbody>
                </table>
            </section>
        </section>
    </main>
</body>
</html>
