<!DOCTYPE html>
<title>AdministrationPanel</title>
<html>
<head>
    <style>
        .flex-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1 1 auto;
            overflow: auto;
            padding: 0 200px;
        }

        .product-box-container {
            width: 100%;
            margin-bottom: 50px;
        }

        .product-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            padding: 50px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            border-radius: 15px;
        }

        .product-title {
            font-size: 50px;
            color: black;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .product-information {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        .product-image-container {
            width: 50%;
            height: 80%;
            margin-right: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .product-image-Subcontainer {
            font-size: 200%;
            margin-bottom: 20px;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .product-image-text {
            font-weight: bold;
        }

        .product-image-box {
            font-size: 50%;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            height: 32px;
            width: 400px;
        }

        .upload-image-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            background-color: lightgray;
            border-radius: 50%;
            color: white;
            font-size: 240px;
            text-align: center;
            cursor: pointer;
        }

        #myFile {
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            z-index: 1;
        }

        #uploadedImage {
            max-width: 80%;
            max-height: 80%;
        }

        .product-info {
            padding: 20px;
            width: 50%;
            background-color: cyan;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
        }

        .select-category {
            font-size: 20px;
            height: 40px;
            color: #333;
            font-family: Verdana,Helvetica,Sans-Serif;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .description-text-container {
            font-size: 30px;
            font-weight: bold;
            display: flex;
            flex-direction: row;
        }

        .description-box {
            font-size: 20px;
            height: 100px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
        }

        .brandModelPrice-container {
            margin-bottom: 20px;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .brandModelPrice-text {
            font-size: 30px;
            font-weight: bold;
        }

        .brandModelPrice-box {
            font-size: 20px;
            height: 30px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            width: 80%;
        }

        .create-product-button-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
        }

        .create-product-button {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            width: 500px;
            height: 100px;
            background-color: purple;
            border-radius: 15px;
            cursor: pointer;
        }

        .create-product-button-text {
            margin: 0 auto;
            color: white;
            font-weight: bold;
            font-size: 200%;
        }

        .entity-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 50px;
        }

        .entity {
            padding: 50px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            border-radius: 15px;
            margin-bottom: 100px;
            height: fit-content;
            width: 40%;
        }

        .create-entity-title-container {
            display: flex;
            justify-content: center;
        }

        .create-entity-title {
            font-size: 30px;
            color: black;
            font-weight: bold;
        }

        .create-entity-form {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        .input-box {
            border: 1px solid #999;
            border-radius: 5px;
            width: 200px;
            height: 25px;
        }

        .mini-input-box {
            height: 25px;
            width: 50px;
            border: 1px solid #999;
            font-size: 12px;
            border-radius: 5px;
        }

        .create-entity-button {
            background-color: purple;
            border-radius: 5px;
            height: 30px;
            width: 100px;
            color: white;
        }

        .entity-table {
            width: 100%;
        }

            .entity-table th, .entity-table td {
                padding: 8px;
                text-align: center;
                font-weight: bold;
                border: 1px solid #ddd;
            }

            .entity-table th {
                color: purple;
                font-size: 150%;
            }

        .remove-button-container {
            cursor: pointer;
            background-color: red;
            width: 32px;
            padding: 0px !important;
            height: 32px;
        }

        .remove-button-form {
            height: 100%;
        }

        .remove-button {
            height: 100%;
            width: 100%;
        }

        .remove-icon {
            color: white;
        }

        .create-button-container {
            margin: 20px;
            display: flex;
            justify-content: center;
        }

        .info-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            width: 100%;
            margin-bottom: 10px;
        }

        .info-subContainer {
            display: flex;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .info-text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 5px;
        }

        .category-info-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            width: 100%;
        }

        .user-entity {
            padding: 50px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            border-radius: 15px;
            height: fit-content;
            width: 100%;
        }

        .user-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 50px;
        }

        .entity-button {
            width: 100%;
        }

        .entity-text-box {
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }

        .entity-label {
            font-size: 18px;
        }

        .edit-button-container {
            cursor: pointer;
            background-color: blue;
            width: 32px;
            padding: 0px !important;
            height: 32px;
        }

        .edit-button {
            height: 100%;
            width: 100%;
        }

        .edit-icon {
            color: white;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function displayImage(input) {
            var file = input.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var imageContainer = document.getElementById('imageContainer');
                    var img = document.createElement('img');
                    img.src = e.target.result;
                    img.id = 'uploadedImage';
                    imageContainer.innerHTML = '';
                    imageContainer.appendChild(img);
                    var uploadButton = document.querySelector('.upload-image-button');
                    uploadButton.style.display = 'none';
                }
                reader.readAsDataURL(file);
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            var textBoxes = document.querySelectorAll(".entity-text-box");
            textBoxes.forEach(function (textBox) {
                textBox.addEventListener("click", function (event) {
                    event.stopPropagation();
                });
            });

            var entityButtons = document.querySelectorAll(".entity-button");
            entityButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    var textBox = this.querySelector(".entity-text-box");
                    var entityLabel = this.querySelector(".entity-label");

                    entityLabel.style.display = "none";
                    textBox.style.display = "inline-block";
                    textBox.focus();
                });
            });
        });
    </script>
</head>
<body>
    <section class="flex-container">
        <section class="product-box-container">
            <div class="product-box">
                <div class="product-title">Create product:</div>
                <form method="post" class="product-information" asp-controller="Tech" asp-action="SuccessfullyAddedProduct">
                    <div class="product-image-container">
                        @* <div class="upload-image-button" action="/action_page.php">
                        <input type="file" id="myFile" name="imageURL" onchange="displayImage(this)" required>
                        </div>
                        <div id="imageContainer">
                        </div> *@
                        <div class="product-image-Subcontainer">
                            <div class="product-image-text">Photo:</div>
                            <input class="product-image-box" name="imageURL" required></input>
                        </div>
                    </div>
                    <div class="product-info">
                        <select class="select-category" name="categoryName" onchange="javascript:changemm(document.search.topmenu,document.search.f5,document.search.f6,'2','1','Избери',27)" required>
                            <option selected="" value="">Choose category</option>
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.CategoryName">@category.CategoryName</option>
                            }
                        </select>
                        <div class="description-text-container">Description:</div>
                        <textarea class="description-box" name="description" required maxlength="200"></textarea>
                        <div class="brandModelPrice-container">
                            <div class="brandModelPrice-text">Brand:</div>
                            <input class="brandModelPrice-box" name="brand" maxlength="28" required></input>
                        </div>
                        <div class="brandModelPrice-container">
                            <div class="brandModelPrice-text">Model:</div>
                            <input class="brandModelPrice-box" name="model" maxlength="28" required></input>
                        </div>
                        <div class="brandModelPrice-container">
                            <div class="brandModelPrice-text">Price:</div>
                            <input class="brandModelPrice-box" name="price" maxlength="28" type="number" step=".01" required></input>
                        </div>
                        <div class="create-product-button-container">
                            <button class="create-product-button" type="submit">
                                <div class="create-product-button-text">Create Product</div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section class="user-container">
            <section class="user-entity">
                <div class="create-entity-title-container">
                    <div class="create-entity-title">Create user:</div>
                </div>
                <form class="create-entity-form" method="post" asp-action="SuccessfullyCreatedUser" asp-controller="Tech">
                    <div class="info-container">
                        <div class="info-subContainer">
                            <div class="info-text-container">
                                <div>First name: </div>
                            </div>
                            <input class="input-box" name="firstName" />
                        </div>
                        <div class="info-subContainer">
                            <div class="info-text-container">
                                <div>Last name: </div>
                            </div>
                            <input class="input-box" name="lastName" />
                        </div>
                        <div class="info-subContainer">
                            <div class="info-text-container"><div>Email: </div></div><input class="input-box" name="email" />
                        </div>
                        <div class="info-subContainer">
                            <div class="info-text-container"><div>Phone number: </div></div><input class="input-box" name="phoneNumber" />
                        </div>
                        <div class="info-subContainer">
                            <div class="info-text-container"><div>Pasword: </div></div><input class="input-box" name="password" />
                        </div>
                        <div class="info-subContainer">
                            <div class="info-text-container"><div>Confirm Password: </div></div><input class="input-box" name="confirmPassword" />
                        </div>
                    </div>
                    <div>
                        <div class="create-button-container">
                            <button class="create-entity-button"><div>Create</div></button>
                        </div>
                    </div>
                </form>
                <table class="entity-table">
                    <tbody>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Phone number</th>
                        @foreach (var user in Model.Users)
                        {
                        <tr>
                            <form method="post" asp-action="SuccessfullyEditedUser" asp-controller="Tech">
                            <td>@user.Id</td>
                            <td>
                                <button type="button" class="entity-button">
                                    <p class="entity-label">
                                                @user.UserName
                                    </p>
                                    <input class="entity-text-box" type="text" name="newUserName" style="display: none;" />
                                </button>
                            </td>
                            <td>
                                <button type="button" class="entity-button">
                                    <p class="entity-label">
                                                @user.FirstName
                                    </p>
                                    <input class="entity-text-box" type="text" name="newFirstName" style="display: none;" />
                                </button>
                            </td>
                            <td>
                                <button type="button" class="entity-button">
                                    <p class="entity-label">
                                                @user.LastName
                                    </p>
                                    <input class="entity-text-box" type="text" name="newLastName" style="display: none;" />
                                </button>
                            </td>
                            <td>
                                <button type="button" class="entity-button">
                                    <p class="entity-label">
                                                @user.Email
                                    </p>
                                    <input class="entity-text-box" type="text" name="newEmail" style="display: none;" />
                                </button>
                            </td>
                            <td>
                                <button type="button" class="entity-button">
                                    <p class="entity-label">
                                                @user.PhoneNumber
                                    </p>
                                    <input class="entity-text-box" type="text" name="newPhoneNumber" style="display: none;" />
                                </button>
                            </td>
                            <td class="edit-button-container">
                                <button class="edit-button">
                                    <i class="edit-icon fa-solid fa-pen-to-square"></i>
                                </button>
                            </td>
                            <input hidden name="userID" value="@user.Id" />
                            </form>
                            <td class="remove-button-container">
                                <form class="remove-button-form" method="post" asp-action="SuccessfullyDeletedUser" asp-controller="Tech">
                                    <button class="remove-button" name="userID" value="@user.Id">
                                        <i class="remove-icon fa-solid fa-trash-can"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </section>
        </section>
        <section class="entity-container">
            <section class="entity">
                <div class="create-entity-title-container">
                    <div class="create-entity-title">Create promocode:</div>
                </div>
                <form class="create-entity-form" method="post" asp-action="SuccessfullyCreatedPromocode" asp-controller="Tech">
                    <div class="info-container">
                        <div class="info-subContainer">
                            <div class="info-text-container">
                                <div>Promocode: </div>
                            </div>
                            <input class="input-box" name="promocodeName" />
                        </div>
                        <div class="info-subContainer">
                            <div class="info-text-container">
                                <div>Promocode discount: </div>
                            </div>
                            <input class="mini-input-box" name="discount" />
                        </div>
                    </div>
                    <div class="create-button-container">
                        <button class="create-entity-button">
                            <div>Create</div>
                        </button>
                    </div>
                </form>
                <table class="entity-table">
                    <tbody>
                        <tr>
                            <th>Promocode</th>
                            <th>Promocode discount</th>
                            @foreach (var promocode in Model.Promocodes)
                            {
                            <tr>
                                <form method="post" asp-action="SuccessfullyEditedPromocode" asp-controller="Tech">
                                <td>
                                    <button type="button" class="entity-button">
                                        <p class="entity-label">@promocode.PromocodeName</p>
                                        <input class="entity-text-box" type="text" name="newPromocodeName" style="display: none;" />
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="entity-button">
                                        <p class="entity-label">@promocode.Discount %</p>
                                        <input class="entity-text-box" type="text" name="newPromocodeDiscount" style="display: none;" />
                                    </button>
                                </td>
                                <td class="edit-button-container">
                                    <button class="edit-button">
                                        <i class="edit-icon fa-solid fa-pen-to-square"></i>
                                    </button>
                                </td>
                                <input hidden name="promocodeID" value="@promocode.PromocodeID" />
                                </form>
                                <td class="remove-button-container">
                                    <form class="remove-button-form" method="post" asp-action="SuccessfullyDeletedPromocode" asp-controller="Tech">
                                        <button class="remove-button" name="promocodeName" value="@promocode.PromocodeName">
                                            <i class="remove-icon fa-solid fa-trash-can"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            }
                    </tbody>
                </table>
            </section>
            <section class="entity">
                <div class="create-entity-title-container">
                    <div class="create-entity-title">Create category:</div>
                </div>
                <form class="create-entity-form" method="post" asp-action="SuccessfullyCreatedCategory" asp-controller="Tech">
                    <div class="category-info-container">
                        <div class="info-subContainer">
                            <div class="info-text-container">
                                <div>Category name: </div>
                            </div>
                            <input class="input-box" name="categoryName" />
                        </div>
                    </div>
                    <div class="create-button-container"><button class="create-entity-button"><div>Create</div></button></div>
                </form>
                <table class="entity-table">
                    <tbody>
                        <tr>
                            <th>Category</th>
                            @foreach (var category in Model.Categories)
                            {
                            <tr>
                                <form method="post" asp-action="SuccessfullyEditedCategory" asp-controller="Tech">
                                <td>
                                    <button type="button" class="entity-button">
                                        <p class="entity-label">@category.CategoryName</p>
                                        <input class="entity-text-box" type="text" name="newCategoryName" style="display: none;" />
                                    </button>
                                </td>
                                <td class="edit-button-container">
                                    <button class="edit-button">
                                        <i class="edit-icon fa-solid fa-pen-to-square"></i>
                                    </button>
                                </td>
                                <input hidden name="categoryID" value="@category.CategoryID" />
                                </form>
                                <td class="remove-button-container">
                                    <form class="remove-button-form" method="post" asp-action="SuccessfullyDeletedCategory" asp-controller="Tech">
                                        <button class="remove-button" name="categoryName" value="@category.CategoryName">
                                            <i class="remove-icon fa-solid fa-trash-can"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            }
                    </tbody>
                </table>
            </section>
        </section>
</body>
</html>
