<!DOCTYPE html>
<html>
<head>
    <title>TechStore</title>
    <style>
        .main-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .product-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 20px;
            height: 200px;
            min-height: 200px;
            width: 80%;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            border-radius: 15px;
        }

        .product-image {
            max-width: 90%;
            max-height: 90%;
            margin: 20px;
        }

        .product-info {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            margin-right: 40px;
            margin-left: 40px;
        }

        .product-description {
            font-size: 20px;
            font-weight: bold;
        }

        .product-price {
            font-size: 150%;
            font-weight: bold;
            color: #ef2809;
        }

        .product-quantity {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 50px;
        }

        .product-quantity-label {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .product-quantity-count {
            font-size: 30px;
        }

        .product-remove-button-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            height: 90%;
            padding: 20px;
        }

        .product-remove-button {
            cursor: pointer;
            border-radius: 15px;
            background: linear-gradient(to right,#cf3f50,#fe2d34);
            height: 70px;
            width: 70px;
        }

        .product-remove-button-icon {
            font-size: 250%;
            color: #ffffff;
        }

        .complete-cart-container {
            margin: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
        }

        .final-price {
            font-size: 50px;
            color: #ef2809;
            font-weight: bold;
        }

        .promocode-container {
            display: flex;
            flex-direction: column;
        }

        .promocode-apply-container {
            display: flex;
            flex-direction: row;
        }

        .promocode-input-box {
            padding: 10px;
            box-sizing: border-box;
            font-size: 20px;
            border: 1px solid #999999;
            height: 50px;
            width: 300px;
        }

        .promocode-apply-button {
            display: flex;
            align-items: center;
            width: 200px;
            height: 50px;
            background-color: #0082e6;
            cursor: pointer;
        }

        .promocode-apply-button-text {
            margin: 0 auto;
            color: #ffffff;
            font-weight: bold;
            font-size: 20px;
        }

        .promocode-text-container {
            margin-top: 10px;
        }

        .promocode-red-text {
            color: #ff0000;
        }

        .promocode-green-text {
            color: #009900;
        }

        .checkout-button {
            margin: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 500px;
            height: 100px;
            background: linear-gradient(to right,#ff1d25 5%,#a0328c 35%,#7040a4 45%,#4359c7 55%,#0082e6 70%);
            border-radius: 15px;
            cursor: pointer;
        }

        .checkout-cart-button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            height: 100px;
            width: 100px;
        }

        .checkout-cart-icon {
            font-size: 300%;
            color: #ffffff;
        }

        .checkout-cart-text {
            margin: 0 auto;
            color: #ffffff;
            font-weight: bold;
            font-size: 200%;
        }

        .product-old-price {
            text-decoration: line-through;
            font-size: 100%;
            font-weight: bold;
            color: #000000;
        }

        .product-price-container {
            display: flex;
            flex-direction: column;
        }

        .final-price-container {
        }

        .final-old-price {
            text-decoration: line-through;
            font-size: 30px;
            font-weight: bold;
            color: #000000;
        }

        @@media (max-device-width: 767px) {
            .product-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 20px;
                height: 300px;
                min-height: 300px;
                width: 80%;
                background-color: #ffffff;
                box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
                border-radius: 15px;
            }

            .product-image {
                max-width: 60%;
                max-height: 60%;
                margin: 20px;
            }
        }
    </style>
</head>
<body>
    <main class="main-container">
        @foreach (var cart in Model.Carts)
        {
            foreach (var product in Model.Products)
            {
                if (cart.ProductID == product.ProductID)
                {
                    <section class="product-box">
                        <img class="product-image" src="@product.ImageURL">
                        <div class="product-info">
                            <article class="product-description">@product.Description</article>
                            @if (product.IsInPromotion)
                            {
                                <div class="product-price-container">
                                    <p class="product-old-price">$@product.Price</p>
                                    <p class="product-price">$@product.NewPrice</p>
                                </div>
                            }
                            else
                            {
                                <p class="product-price">$@product.Price</p>
                            }
                        </div>
                        <div class="product-quantity">
                            <p class="product-quantity-label">Quantity:</p>
                            <p class="product-quantity-count">@cart.Quantity</p>
                        </div>
                        <form class="product-remove-button-container" method="post" asp-action="ProductRemovedFromCart" asp-controller="Cart">
                            <button class="product-remove-button" name="productID" value="@product.ProductID">
                                <i class="product-remove-button-icon fa-solid fa-trash-can"></i>
                            </button>
                        </form>
                    </section>
                }
            }
        }
        <section class="complete-cart-container">
            <div>
                @if (TempData["PromocodeMessage"] != null)
                {
                    @if ((string)TempData["PromocodeMessage"] == "Promocode does not exist!")
                    {
                        <p class="final-price">Total: $@ViewBag.TotalPrice</p>
                    }
                    else
                    {
                        <p class="final-old-price">$@ViewBag.OldTotalPrice</p>
                        <p class="final-price">Total: $@ViewBag.TotalPrice</p>
                    }
                }
                else
                {
                    <p class="final-price">Total: $@ViewBag.TotalPrice</p>
                }
            </div>
            <form class="promocode-container" method="post" asp-action="AppliedPromocode" asp-controller="Promocode">
                <div class="promocode-apply-container">
                    <input class="promocode-input-box" name="promocodeName" placeholder="Enter a promocode" required>
                    <button class="promocode-apply-button">
                        <p class="promocode-apply-button-text">Apply</p>
                    </button>
                </div>
                <div class="promocode-text-container">
                    @if (TempData["PromocodeMessage"] != null)
                    {
                        @if ((string)TempData["PromocodeMessage"] == "Promocode does not exist!")
                        {
                            <p class="promocode-red-text">@TempData["PromocodeMessage"]</p>
                        }
                        else
                        {
                            <p class="promocode-green-text">@TempData["PromocodeMessage"]</p>
                        }
                    }
                </div>
            </form>
        </section>
        <form method="post" asp-action="Payment" asp-controller="Tech">           
            @if(ViewBag.TotalPrice == 0)
            {
                <div class="checkout-button">
                    <div class="checkout-cart-button">
                        <i class="checkout-cart-icon fa-solid fa-cart-shopping"></i>
                    </div>
                    <p class="checkout-cart-text">To Checkout</p>
                </div>
            }
            else
            {
                <button class="checkout-button">
                    <div class="checkout-cart-button">
                        <i class="checkout-cart-icon fa-solid fa-cart-shopping"></i>
                    </div>
                    <p class="checkout-cart-text">To Checkout</p>
                </button>
            }
        </form>
    </main>
</body>
</html>