<title>Category</title>
<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        overflow: auto;
    }

    .product-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        margin: 10px;
        height: 400px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
        border-radius: 15px;
    }

    .product-top {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        height: 85%;
    }

    .product-button {
        height: 100%
    }

    .product-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 100%;
        margin-bottom: 5px;
    }

    .product-image {
        max-width: 100%;
        max-height: 100%;
    }

    .product-text-container {
        height: 40%;
        margin-top: 5px;
    }

    .product-text {
        text-align: left;
        color: black;
        font-weight: bold;
    }

    .product-bottom {
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .product-price {
        font-size: 150%;
        font-weight: bold;
        color: red;
    }

    .product-cart-button {
        cursor: pointer;
        border-radius: 15px;
        background-color: blue;
        height: 50px;
        width: 50px;
    }

    .product-cart-icon {
        font-size: 150%;
        color: white;
    }

    .product-bin-button {
        cursor: pointer;
        border-radius: 15px;
        background-color: red;
        height: 50px;
        width: 50px;
    }

    .product-bin-icon {
        font-size: 150%;
        color: white;
    }
</style>
<section class="grid-container">
    @foreach (var product in Model)
    {
        @if (!product.IsInPromotion)
        {
            <div class="product-box">
                <form method="post" class="product-top" asp-action="Product" asp-controller="Tech">
                    <button class="product-button">
                        <input type="hidden" name="productID" value="@product.ProductID">
                        <div class="product-image-container"><img class="product-image" src=@product.ImageURL></div>
                        <div class="product-text-container"><div class="product-text">@product.Description</div></div>
                    </button>
                </form>
                <div class="product-bottom">
                    <div class="product-price">@product.Price лв.</div>
                    @if (User.IsInRole("Admin"))
                    {
                        <form method="post" class="product-top" asp-action="SuccessfulyDeletedProduct" asp-controller="Tech">
                            <button class="product-bin-button" name="productID" value="@product.ProductID"><i class="product-bin-icon fa-solid fa-trash-can"></i></button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-action="AddToCart" asp-controller="Tech">
                            <input type="hidden" name="ID" value="defaultId" />
                            <input type="hidden" name="productID" value="@product.ProductID" />
                            <input type="hidden" name="quantity" value="1" />
                            <input type="hidden" name="price" value="@product.Price" />
                            <input type="hidden" name="description" value="@product.Description" />
                            <input type="hidden" name="imageURL" value="@product.ImageURL" />
                            <button type="submit" class="product-cart-button">
                                <i class="product-cart-icon fa-solid fa-cart-shopping"></i>
                            </button>
                        </form>
                    }
                </div>
            </div>
        }
    }
</section>