<!DOCTYPE html>
<html>
<head>
    <style>
        .flex-container {
            display: flex;
            flex-direction: column;
            align-content: center;
            flex: 1 1 auto;
            overflow: auto;
        }

        .product-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 100px;
            margin-left: 100px;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 50px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            border-radius: 15px;
            height: 700px;
            min-height: 700px;
        }

        .product-image-container {
            width: 50%;
            height: 80%;
            margin-right: 50px;
            display: flex;
            justify-content: center;
        }

        .product-image {
            height: 100%;
        }

        .product-info {
            padding: 20px;
            height: 90%;
            width: 50%;
            background-color: cyan;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .product-text-container {
            font-weight: bold;
            font-size: 200%;
            margin-bottom: 100px;
        }

            .product-text-container div {
                margin-bottom: 15px;
            }

        .product-text-info {
            font-weight: normal;
        }

        .product-price-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .product-price {
            font-size: 50px;
            font-weight: bold;
            color: red;
            margin-bottom: 50px;
        }

        .product-button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 500px;
            height: 100px;
            background-color: purple;
            border-radius: 15px;
            cursor: pointer;
        }

        .product-cart-button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            background-color: blue;
            height: 100px;
            width: 100px;
        }

        .product-cart-icon {
            font-size: 300%;
            color: white;
        }

        .product-cart-text {
            margin: 0 auto;
            color: white;
            font-weight: bold;
            font-size: 200%;
        }

        .add-review-container {
            margin-right: 100px;
            margin-left: 100px;
            margin-top: 50px;
            margin-bottom: 100px;
            display: flex;
            flex-direction: column;
        }

        .information-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .profile-container {
            display: flex;
            flex-direction: row;
        }

        .profile-picture {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border: 1px solid #999;
            background-color: black;
        }

        .user-name-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 20px;
        }

        .user-name{
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }

        .rating-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .rating:not(:checked) > input {
            position: absolute;
            appearance: none;
        }

        .rating:not(:checked) > label {
            float: right;
            cursor: pointer;
            font-size: 30px;
            color: #666;
        }

            .rating:not(:checked) > label:before {
                content: '★';
            }

        .rating > input:checked + label:hover,
        .rating > input:checked + label:hover ~ label,
        .rating > input:checked ~ label:hover,
        .rating > input:checked ~ label:hover ~ label,
        .rating > label:hover ~ input:checked ~ label {
            color: #e58e09;
        }

        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label {
            color: #ff9e0b;
        }

        .rating > input:checked ~ label {
            color: #ffa723;
        }

        .review-input-box {
            padding: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            height: 100px;
            width: 100%;
            border: 1px solid #999;
            font-size: 15px;
            border-radius: 5px;
        }

        .post-review-button-container {
            display: flex;
            justify-content: flex-end;
        }

        .post-review-button {
            background-color: purple;
            border-radius: 5px;
            height: 50px;
            width: 150px;
            color: white;
        }

        .reviews-title {
            font-weight: bold;
            font-size: 50px;
        }

        .reviews-title-container {
            display: flex;
            justify-content: center;
        }

        .posted-reviews-container {
            margin-right: 100px;
            margin-left: 100px;
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
        }

        .review-output-box {
            padding: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 1px solid #999;
            width: 100%;
            font-size: 15px;
            border-radius: 5px;
            height: 100px;
        }
    </style>
</head>
<body>
    <section class="flex-container">
        <section class="product-box">
            <div class="product-image-container">
                <img class="product-image" src="@Model.ImageURL">
            </div>
            <div class="product-info">
                <div class="product-text-container">
                    <div>@Model.Description</div>
                    <div>• Марка: <span class="product-text-info">@Model.Brand</span></div>
                    <div>• Модел: <span class="product-text-info">@Model.Model</span></div>
                </div>
                <div class="product-price-container">
                    <div class="product-price">Цена: @Model.Price лв.</div>
                    <button class="product-button">
                        <div class="product-cart-button"><i class="product-cart-icon fa-solid fa-cart-shopping"></i></div>
                        <div class="product-cart-text">Добави в количката</div>
                    </button>
                </div>
            </div>
        </section>
        <form class="add-review-container" method="post" asp-action="SuccessfulyAddedReview" asp-controller="Tech">@*make the logic of adding a review in this method "SuccessfulyAddedReview*@
            <div class="information-container">
                <div class="profile-container">
                    <div class="profile-picture"></div>
                    <div class="user-name-container"><div class="user-name">Martin Kulev</div></div> @*User's actual FirstName+LastName*@
                </div>             
                <div class="rating-container">
                    <div class="rating">
                        <input value="5" name="rate" id="star5" type="radio" required>
                        <label title="text" for="star5"></label>
                        <input value="4" name="rate" id="star4" type="radio" required>
                        <label title="text" for="star4"></label>
                        <input value="3" name="rate" id="star3" type="radio" required>
                        <label title="text" for="star3"></label>
                        <input value="2" name="rate" id="star2" type="radio" required>
                        <label title="text" for="star2"></label>
                        <input value="1" name="rate" id="star1" type="radio" required>
                        <label title="text" for="star1"></label>
                    </div>
                </div>               
            </div>
            <textarea class="review-input-box" placeholder="Write a review about the product..." name="reviewText" required></textarea>
            <div class="post-review-button-container"><button class="post-review-button">Post</button></div>
        </form>
        <section class="reviews-title-container"><div class="reviews-title">Reviews:</div></section>
        @for (int a = 0; a < 5; a++)
        {
            <section class="posted-reviews-container">
                <div class="information-container">
                    <div class="profile-container">
                        <div class="profile-picture"></div>
                        <div class="user-name-container">
                            <div class="user-name">Martin Kulev</div>
                        </div>
                    </div>
                    <div class="rating-container">
                        <div class="rating">
                            @for (int i = 5; i >= 1; i--)
                            {
                                <input value="@i" name="rate_@a" id="star_@a@i" type="radio" @(i == 1 ? "checked" : "") disabled>
                                <label title="text" for="star_@a@i"></label>
                            }
                        </div>
                    </div>
                </div>
                <div class="review-output-box">Very good product baalslaslalslaslalsalslasaldsfldlsf;ldsfldsl</div>
            </section>
        }
    </section>
</body>
</html>