<title>Profile</title>
<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
        overflow: auto;
    }

    .order-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px;
        height: 200px;
        min-height: 200px;
        width: 80%;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
        border-radius: 15px;
    }

    .order-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px;
        height: 200px;
        min-height: 200px;
        width: 100%;
        border-radius: 15px;
    }

    .order-info {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin-right: 50px;
        margin-left: 50px;
    }

    .order-text {
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-size: 20px;
        font-weight: bold;
    }

    .order-price-container {
        font-size: 20px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }

    .order-price {
        font-size: 20px;
        color: red;
        font-weight: bold;
    }

    .order-dateTime-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-left: 50px;
        margin-right: 50px;
    }

    .order-dateTime-label {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .order-dateTime {
        font-size: 20px;
    }

    .orders-title {
        font-weight: bold;
        font-size: 50px;
    }

    .profile-box {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 10px;
        height: 400px;
        min-height: 400px;
        width: 80%;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
        border-radius: 15px;
        margin-bottom: 200px;
        position: relative;
    }

    .profile-information-container {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .profile-title-container {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .profile-title {
        font-size: 40px;
    }

    .profilePicture-Username-Logout-container {
        display: flex;
        flex-direction: column;
        position: absolute;
    }

    .profile-picture {
        width: 200px;
        height: 200px;
        border-radius: 200px;
        border: 1px solid #999;
        background-color: black;
        margin-top: 20px;
        margin-left: 20px;
    }

    .user-name-container {
        margin-top: 20px;
        margin-left: 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }

    .information-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .information-sub-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .information-label {
        font-size: 20px;
        font-weight: bold;
        margin-right: 10px;
    }

    .information-text {
        font-size: 20px;
    }

    .logout-button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 20px;
        margin-top: 20px;
    }

    .logout-button {
        background-color: purple;
        border-radius: 5px;
        height: 30px;
        width: 100px;
        color: white;
    }
</style>
<section class="flex-container">
    <div class="profile-box">
        <div class="profile-title-container">
            <div class="profile-title">
                @if (User.IsInRole("Admin"))
                {
                    <p>Welcome, Admin!</p>
                }
                else
                {
                    <p>Welcome, Regular User!</p>
                }
            </div>
        </div>
        <div class="profilePicture-Username-Logout-container">
            <div class="profile-picture"></div>
            <div class="user-name-container"><div>@Model.User.FirstName @Model.User.LastName</div></div>
            <form class="logout-button-container" asp-controller="Account" asp-action="Logout" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
        <div class="profile-information-container">
            <div class="information-container">
                <div class="information-sub-container"><div class="information-label">Email:</div><div class="information-text">@Model.User.Email</div></div>
                <div class="information-sub-container"><div class="information-label">Phone Number:</div><div class="information-text">@Model.User.PhoneNumber</div></div>
            </div>
        </div>
    </div>
    @if (!User.IsInRole("Admin"))
    {
        @foreach (var payments in Model.Payments)
        {
            <form class="order-box" asp-controller="Tech" asp-action="Orders" method="post">
                <button class="order-button" name="paymentID" value="@payments.PaymentID">
                    <div class="order-info">
                        <div class="order-text">Order № @payments.PaymentID</div>
                        <div class="order-price-container">
                            <div class="order-price">Paid: $@payments.TotalPrice лв</div>
                            <div>Bank card: @payments.CardNum</div>
                        </div>
                    </div>
                    <div class="order-dateTime-container">
                        <div class="order-dateTime-label">Date of order:</div>
                        <div class="order-dateTime">@payments.OrderTime.ToShortDateString()</div>
                        <div class="order-dateTime">@payments.OrderTime.ToShortTimeString()</div>
                    </div>
                </button>
            </form>
        }
    }
</section>