<title>ShoppingCart</title>
<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
        overflow: auto;
    }

    .product-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px;
        height: 200px;
        min-height: 200px;
        width: 80%;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
        border-radius: 15px;
    }

    .product-image {
        max-width: 90%;
        max-height: 90%;
        margin: 20px;
    }

    .product-info {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin-right: 40px;
        margin-left: 40px;
    }

    .product-text {
        font-size: 20px;
        font-weight: bold;
    }

    .product-price {
        font-size: 20px;
        color: red;
        font-weight: bold;
    }

    .product-quantity {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 50px;
    }

    .product-quantity-label {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .product-quantity-count {
        font-size: 30px;
    }

    .product-remove-button-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 90%;
        padding: 20px;
        
    }

    .product-remove-button {
        cursor: pointer;
        border-radius: 15px;
        background-color: red;
        height: 70px;
        width: 70px;
    }

    .product-remove-button-icon {
        font-size: 250%;
        color: white;
    }

    .final-price-container {
        margin: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .final-price {
        font-size: 50px;
        color: red;
        font-weight: bold;
    }

    .promocode-container {
        display: flex;
        flex-direction: row;
    }

    .promocode-box {
        padding: 10px;
        box-sizing: border-box;
        font-size: 20px;
        border: 1px solid #999;
        height: 50px;
        width: 300px;
    }

    .promocode-apply-button {
        display: flex;
        align-items: center;
        width: 200px;
        height: 50px;
        background-color: purple;
        cursor: pointer;
    }

    .promocode-apply-button-text {
        margin: 0 auto;
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    .checkout-button {
        margin: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        height: 100px;
        background-color: purple;
        border-radius: 15px;
        cursor: pointer;
    }

    .checkout-cart-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background-color: blue;
        height: 100px;
        width: 100px;
    }

    .checkout-cart-icon {
        font-size: 300%;
        color: white;
    }

    .checkout-cart-text {
        margin: 0 auto;
        color: white;
        font-weight: bold;
        font-size: 200%;
    }
</style>
<section class="flex-container">
    @foreach (var cart in Model)
    {
        <div class="product-box">
            <img class="product-image" src="@cart.ImageURL">
            <div class="product-info">
                <div class="product-text">@cart.Description</div>
                <div class="product-price">Цена: @cart.Price лв</div>
            </div>
            <div class="product-quantity">
                <div class="product-quantity-label">Количество:</div>
                <div class="product-quantity-count">@cart.Quantity</div>
            </div>
            <div class="product-remove-button-container">
                <button class="product-remove-button">
                    <i class="product-remove-button-icon fa-solid fa-trash-can"></i>
                </button>
            </div>
        </div>
    }
    <div class="final-price-container">
        <div class="final-price">Общо: @ViewBag.TotalPrice лв.</div>
        <div class="promocode-container">
            <form id="promoForm" class="promocode-container" method="post" asp-action="ApplyPromoCode" asp-controller="Tech">
                <input class="promocode-box" placeholder="Въведи Код" name="promoCode" />
                <input type="hidden" name="ID" value=0 />
                <button type="button" class="promocode-apply-button">Проложи</button>
            </form>
            <div id="discountMessage">
                @if (ViewBag.DiscountMessage != null)
                {
                    <p>@ViewBag.DiscountMessage</p>
                }
            </div>
        </div>

        @section Scripts {
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('.promocode-apply-button').click(function () {
                        $.ajax({
                            url: '@Url.Action("ApplyPromoCode", "Tech")',
                            type: 'POST',
                            data: $('#promoForm').serialize(),
                            success: function (response) {
                                $('#discountMessage').html(response);
                            },
                            error: function () {
                                $('#discountMessage').html('An error occurred.');
                            }
                        });
                    });
                });
            </script>
        }
    </div>
    <form method="post" asp-action="AddToTempOrder" asp-controller="Tech">
        <button type="submit" class="checkout-button">
            <div class="checkout-cart-button"><i class="checkout-cart-icon fa-solid fa-cart-shopping"></i></div>
            <div class="checkout-cart-text">Kъм касата</div>
        </button>
    </form>
</section>